<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}{{ shop_name }}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/webshop/stylesheets/style.css">
<script type="text/javascript" src="/static/webshop/js/jquery14/jquery.min.js"></script>
</head>
{% load cache %}
<body>
<div id="div-wrapper">
	<!--body part start -->
		<div id="mainbody">
			<!--left part srart -->
				<div id="leftpart">
					<!--Template beg-->
					{% cache 5000 sidebar %}
						{% block sidebar %}
						{% block sidebar-categories %}
						<ul>
			                	{% include "category/category_list.html" %}
			            </ul>
						{% endblock sidebar-categories %}
						{% endblock sidebar %}
					{% endcache %}
					<!--Template end-->
					<!--
					<ul>
						<li><a href="#" title="Flowers">Flowers</a></li>
						<li><a href="#" title="Flowers in Basket">Flowers in Basket</a></li>
						<li><a href="#" title="Roses">Roses</a></li>
						<li><a href="#" title="Tulips">Tulips</a></li>
						<li><a href="#" title="Lilies">Lilies</a></li>
						<li><a href="#" title="Daisies">Daisies</a></li>
						<li><a href="#" title="Orchids">Orchids</a></li>
					</ul>
					-->
				</div>
			<!--left part emd -->
			<!--right part start -->
				<div id="rightpart">
					
					<a href="/">
					<img src="/static/webshop/images/logo.gif" alt="flower" border="0" class="logo" title="flower" /></a>
				
					<!--Template beg-->
					<a href="/">
			        	<h1>{% block header %}{{ shop_name }}{% endblock %}</h1>
			        </a>
			        <!--Template end-->
			        {% block login %}
					{% endblock %}
					<h2 class="welcom"><span>Welcome</span> to our Online Shop  
						{% if username %}
							<a href="/auth/logout/"> Exit {{ username }}</a>
						{% else %}
							<a href="/auth/login/">Enter</a>
						{% endif %}
					</h2>
					
					{% block content %}
					{% endblock %}
						<!--Template beg-->

					<div id="footer">
				<!--Template beg-->
				{% block footer %}
					<p>Copyright Information Goes Here</p>
					<p>All right reserved <a href="http://www.google.com.ua">;)</a></p>
				{% endblock %}
			</div>
				</div>
			<!--right part end -->

			
			<div class="spacer">&nbsp;</div>
		</div>
	<!--body part end -->
	
	

</div>
</body>
</html>
