{% extends "base.html" %}
{% load cart_filters %}

{% block content %}
	<div class="float-right">
		<table summary="Your order" id="shopping_cart">
			{% if order %}
			<caption class="order">Your order id: {{order.id}}
				<br>
				Your order status: {{order.str_status}}
				<br>
				Email: {{order.email}}
				<br>
				Phone: {{order.phone}}
			</caption>
			<thead>
				<tr>
					<th scope="col">Product</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th scope="col" class="right">Total</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th class="right" colspan="3">
						Order Subtotal:
					</th>
					<th class="right">
						{{order_subtotal|currency}}
					</th>
				</tr>
			</tfoot>
		<tbody>
			{% for item in order_items %}
				<tr>
					<td>
						<a href="{{ item.get_absolute_url }}" class="cart">
							{{ item.name }}
						</a>
					</td>
					<td class="right">{{ item.product.price_in_ua|currency }}</td>
					
					<td class="right">{{ item.quantity }}	</td>
					<td class="right">{{ item.total|currency }}</td>
					
				</tr>
			{% endfor %}
		{% else %}
		      <tr>
					<td colspan="6" style="height:30px;">
						Your cart is empty.
					</td>
				</tr>
		{% endif %}
		</tbody>
	</table>
	</div>
{% endblock %}
