<div class="float_r">
	<h2>Product Detail</h2>
    	<div class="productImage">
    		{% load staticfiles %}
    		<a  href="{% static product.photo.url %}"><img src="{% static product.photo.url %}" alt="{{ product.name }}" />
    		</a>
    	</div>
    <div class="content_half float_r">
        <table>
        	<tr>
        		<td width="160">Name:</td>
        		<td>{{ product.name }}</td>
			</tr>
            <tr>
                <td width="160">Price:</td>
                <td>{{ product.price_in_ua }} грн</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                	<a href={% url webshop.views.category product.category_id %}>
						{{ product.get_category_name }}
					</a>
				</td>
            </tr>
            <tr>
                <td>Model/ID:</td>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <td>Manufacturer:</td>
                <td>{{ product.manufacturer }}</td>
            </tr>
            <!--<tr>
            	<td>Quantity</td>
                <td><input type="text" value="1" style="width: 20px; text-align: right" /></td>
            </tr> -->
        </table>
        <div class="cleaner h20"></div>

        <!--<a href="/index/cart/" class="addtocart">
        </a>-->
        <form method="post" action="." class="cart">
            {{ form.as_p }}
            <br>
            <input type="submit" value="Add To Cart" name="submit" alt="Add To Cart" />
        </form>

	</div>
    <div class="cleaner h30"></div>
    
    <h2>Product Description</h2>
    <div class="description">
    	<p>
    		{{ product.description|safe }}
    	</p>
    </div>
</div>
