{% extends "product/base.html" %}
{% block content %}
	{% for object in object_list %}
		<div class="product_box">
	        <h3>{{ object.name }}</h3>
	    	<a href={{ object.get_absolute_url }}>
				{% load staticfiles %}
				<img src="{% static object.photo.url %}" alt="" title="{{ object.name }}"/>
			</a>
			<p> 
				{{ object.short_description|safe }}
			</p>
	        
	      	<p class="product_price">{{object.price_in_ua}} грн</p>
	    </div>
	{% endfor %}
<!--
	<ul class="gallery">
		{% for object in object_list %}
				<center>
	              
	            </center>
	            <li><a href={{ object.get_absolute_url }}>
					{% load staticfiles %}
					<img src="{% static object.photo.url %}" alt="" title="{{ object.name }}" width="68" height="124" border="0"/></a>
					<br>
					{{ object.name }}
					{{object.manufacturer}}<br />
					{{object.price_in_ua}} грн<br />
				</li>
		{% endfor %}
	</ul>
-->
{% endblock %}