{% extends "base.html" %}
{% load cart_filters %}

{% block content %}
	<div class="float-right">
		<table summary="Your Shopping Cart" id="shopping_cart">
			<caption>Your Shopping Cart</caption>
			{% if cart_items %}
			<thead>
				<tr>
					<th scope="col">Product</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th></th>
					<th></th>
					<th scope="col" class="right">Total</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th class="right" colspan="5">
						Cart Subtotal:
					</th>
					<th class="right">
						{{cart_subtotal|currency}}
					</th>
				</tr>
				<tr>
					<th class="right" colspan="6">
						<a href="../order/register_order/">
							<input type="hidden" name="submit" value="Place Order" />
							<input type="submit" alt="Place Order" value="Place Order" />
						</a>
					</th>
				</tr>
			</tfoot>
		<tbody>
			{% for item in cart_items %}
				<tr>
					<td>
						<a href="{{ item.get_absolute_url }}" class="cart">
							{{ item.name }}
						</a>
					</td>
					<td>{{ item.price|currency }}</td>
					<td>
						<form method="post" action="." >
							<input type="text" name="quantity" value="{{ item.quantity }}" id="quantity" size="2" class="quantity" maxlength="5" />
							<input type="hidden" name="item_id" value="{{ item.id }}" />
						</form>
					</td>
					<td>
						<input type="submit" name="submit" value="Update" />
						</form>
					</td>
					<td>
						
					</td>
					<td class="right">{{ item.total|currency }}</td>
				</tr>
			{% endfor %}
		{% else %}
		      <tr>
					<td colspan="6" style="height:30px;">
						Your cart is empty.
					</td>
				</tr>
		{% endif %}
		</tbody>
	</table>
	</div>
{% endblock %}
